 <!-- Footer Section -->
 <footer class="footer-custom text-center py-4 mt-5">
     <div class="container"> 
        <div class="row"> 
            <div class="col-md-4">
                 <h5>Quick Links</h5>
                  <ul class="list-unstyled footer-links"> 
                    <li><a href="# ">Home</a></li>
                     <li><a href="#">Register</a></li>
                      <li><a href="#">Login</a></li> 
                      <li><a href="#">About</a></li>
                     </ul> 
                    </div>
                     <div class="col-md-4">
                         <h5>Contact Us</h5>
                          <ul class="list-unstyled footer-links">
                             <li>Email: support@autosave.com</li> 
                             <li>Phone: +254 456 7890</li> 
                             <li>Address: 321 AutoSave Street, Nairobi, Kenya</li> 
                            </ul> 
                        </div>

                        <div class="col-md-4">
                             <h5>Follow Us</h5>
                              <ul class="list-unstyled footer-links">
                                 <li><a href="#">Facebook</a></li>
                                  <li><a href="#">Twitter</a></li> 
                                  <li><a href="#">Instagram</a></li> 
                                  <li><a href="#">LinkedIn</a></li>
                                 </ul> 
                                </div>
                             </div> 
                             <hr> 
                             <p>&copy; 2024 AutoSave. All rights reserved.</p> 
                            </div>

 </footer>